* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

canvas {
    position: absolute;
}

.control-container {
    position: relative;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    transition: 300ms;
}

#toggle-control-panel {
    position: absolute;
    top: 0px;
    left: 100%;
    padding: 10px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    color: white;
    backdrop-filter: blur(10px);
    border: none;
    z-index: 100;
}

/* .control-container.hide, */
.control-container.shifted {
    /* opacity: 0.2; */
    transform: translate(-100%);
}

::-webkit-scrollbar {
    display: none;
}

.controls {
    height: calc(100vh - 20px);
    overflow-y: auto;
    box-sizing: border-box;
    padding-bottom: 100px;
}
.control {
    margin: 30px 0;
    transition: all 200ms ease-in;
    transform-origin: top;
}

.control-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.control-content {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.control-item {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.control-item-title {
    font-size: 16px;
    font-weight: bold;
}
.control-item-content {
    display: flex;
    align-items: center;
}
.control-item-content input {
    width: 50px;
    height: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    color: white;
    text-align: center;
}
.control-options {
    display: flex;
    align-items: center;
    gap: 20px;
}
.control-options button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    color: white;
    cursor: pointer;
}
.control-options button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

button.active {
    background-color: rgba(255, 255, 255, 0.2);
}
.collapse {
    transform: scaleY(0);
}

.hide {
    display: none;
}